{% extends '@EMSCH/template/base.html.twig' %}


{% block page_content %}
    <div class="text-center mt-4">
        <h1>{% block error_title %}Error{% endblock error_title %}</h1>

        <p>
            The requested page couldn't be {% block error_action %}generated{% endblock error_action %}. Checkout for any URL
            misspelling or <a href="{{ path('match_all', {_locale: 'en'}) }}">return to the homepage</a>.
        </p>
    </div>
{% endblock page_content %}
