{% extends '@EMSCH/template/variables.twig' %}
{% block request %}
<!DOCTYPE html>
<html lang="en">
    <header>
        <title>Test print CSS with margins</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="This is a test page about margin in print css (generating PDF with dompdf)">
        <link rel="canonical" href="{{ baseDomain }}{{ path('blog_test_print_margin') }}" />
        <link rel="stylesheet" href="{{ asset('css/page-margin-print-css.css', 'emsch') }}">
    </header>
    <body id="top">
        <table id="page-layout" cellpadding="0" cellspacing="0">
            <thead><tr><td>
                <div class="page-header-space">&nbsp;</div>
            </td></tr></thead>
            <tbody><tr><td>
                <div class="content">
                    <h1>Test print CSS with margins</h1>
                    {% for i in 1..20 %}
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget sem a massa volutpat auctor. Sed euismod consectetur nunc, eu ornare est ultrices a. Vestibulum vulputate venenatis auctor. Sed vitae velit metus. Vestibulum tellus ante, interdum a volutpat ut, gravida vel ligula. Duis elementum imperdiet turpis, vel placerat sapien luctus in. Pellentesque diam leo, lacinia placerat eros sit amet, porta euismod odio.
                        </p>
                    {% endfor %}
                </div>
            </td></tr></tbody>
            <tfoot><tr><td>
                <div class="page-footer-space">&nbsp;</div>
            </td></tr></tfoot>
        </table>

        <div class="page-header" aria-hidden="true">Header</div>
        <div class="page-footer" aria-hidden="true">Footer</div>
    </body>
</html>
{% endblock request %}
