{% extends '@EMSCH/template/blocks/abstract-block.html.twig' %}

{% block row %}
    {% spaceless %}
        <div class="page-break" aria-hidden="true">&nbsp;</div>
        {% if item.children|default([])|length > 0 %}
            {{ block('children') }}
        {% endif %}
    {% endspaceless %}
{% endblock row %}